
*{padding: 0;margin: 0;border: 0; font-family: poppins, sans-serif;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


:root{
    --darkest: rgb(38, 42, 48);
    --darker: rgb(104, 113, 126);
    --dark: rgb(180, 188, 199);
    --bc: slateblue;
    --fc: wheat;
    --light-fc: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: slateblue;
    color: var(--fc);
}
.header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--dark);
}
#new-task-from{
    display: flex;

}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 20px;
    color: var(--darkest);
}
#new-task-input::placeholder{
    color: var(--darker);
    font-size: 20px;
}
#new-task-submit{
    margin-top: 5px;
    background-color: var(--dark);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    font-size: 28px;
    color: grey;
    transition: 0.3s ease;
}
#new-task-submit:hover{
    color: white;
    background-color: var(--darker);
}

.main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;

}
.tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.tasks .task .content .text{
    color: var(--fc);
    font-size: 20px;
    width: 100%;
    display: block;
    transition: 0.4s;
}
.tasks .task .content .text:not(:read-only){
    color: snow;
}